{% extends "base.html" %} 

{% block title %} About Us {% endblock title %}

{% block body%}
<div class="container-fluid px-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/abutus.jpg" width="100%" height="400px" class="d-block w-100" alt="..."><br>
                <div class="carousel-caption d-none d-md-block text-dark ">
                    <h1 style="
                        position:fixed;
                        top: 5.5cm;
                        font-size: 3cm;"><b>About Us</b></h1>
                    <h6 style="
                    position:fixed;
                    top: 9cm;
                    letter-spacing: 0.5cm;
                    font-size: 0.5cm;"><i>ICODERS</i></h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
  <div class="about-block default-block block-section-1" id="overview">
    <div class="block-inner">
        <div class="block-title">
            <h2>Overview</h2>
        </div>
        <div class="block-content">
        <p>ICoders is one of the most popular e-business and technology news publishers in the United States. Our network attracts a targeted audience of purchasing decision-makers who need timely business and tech industry news and reliable analysis.</p>
<p>The network consists of these e-business and technology news and information digital publications: The <a href="https://www.ecommercetimes.com/" target="_blank" rel="noopener">E-Commerce Times</a>®, <a href="https://www.technewsworld.com/" target="_blank" rel="noopener">TechNewsWorld</a>™, <a href="https://www.crmbuyer.com/">CRM Buyer</a>™ and <a href="https://www.linuxinsider.com/" target="_blank" rel="noopener">LinuxInsider</a>™.</p>
<p>ICoders also publishes newsletters: The <a href="https://lp.constantcontactpages.com/su/axVwPYf/EcommerceMinute?source_id=ae4c20aa-296f-4347-91ea-3c9ea552d171&amp;source_type=em&amp;c=" target="_blank" rel="noopener">E-Commerce Minute</a>™, <a href="https://lp.constantcontactpages.com/su/TFH4rVy/TechNewsFlash?source_id=ae4c20aa-296f-4347-91ea-3c9ea552d171&amp;source_type=em&amp;c=" target="_blank" rel="noopener">Tech News Flash</a>™, and <a href="https://lp.constantcontactpages.com/su/D7Cw9Iz/EditorsPick?source_id=ae4c20aa-296f-4347-91ea-3c9ea552d171&amp;source_type=em&amp;c=" target="_blank" rel="noopener">ECT News Editors&#8217; Pick</a> daily newsletters &#8212; and the <a href="https://lp.constantcontactpages.com/su/U1kaHbw/ECTNewsNetworkWeekly?source_id=ae4c20aa-296f-4347-91ea-3c9ea552d171&amp;source_type=em&amp;c=" target="_blank" rel="noopener">ECT News Network Weekly Newsletter</a>™.</p>
<p>These publications are some of the most respected and widely-read business and technology news sites of the internet age. ECT News Network features an award-winning team of journalists who produce daily news and industry analysis. Content throughout ECT News Network covers the following areas:</p>
<ul>
</div>
        <hr>
 <center><span>&copy; ICoders</span></center>
    </div>
{% endblock body %}